<button (click)= "onHandleClick()">Click</button>
<input type="text" [(ngModel)]="productName" >
{{productName}}
<div *ngIf = "isStatus">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let product of productList, let i = index">
                <td>{{i+ 1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td> 
                    <button (click)= "onHandleDelete(product.id)" class="btn btn danger">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

